stages:
  - test
  - release

variables:
  COUCHDB_USER: admin
  COUCHDB_PASSWORD: abc123

.test: &go_test_template
  stage: test
  services:
    - name: couchdb:2.2.0
      alias: couch22
    - name: apache/couchdb:2.3.1
      alias: couch23
    - name: couchdb:3.0.1
      alias: couch30
    - name: couchdb:3.1.2
      alias: couch31
    - name: couchdb:3.2.3
      alias: couch32
    - name: couchdb:3.3.2
      alias: couch33
  variables:
    KIVIK_TEST_DSN_COUCH22: http://admin:abc123@couch22:5984/
    KIVIK_TEST_DSN_COUCH23: http://admin:abc123@couch23:5984/
    KIVIK_TEST_DSN_COUCH30: http://admin:abc123@couch30:5984/
    KIVIK_TEST_DSN_COUCH31: http://admin:abc123@couch31:5984/
    KIVIK_TEST_DSN_COUCH32: http://admin:abc123@couch32:5984/
    KIVIK_TEST_DSN_COUCH33: http://admin:abc123@couch33:5984/
  before_script:
    - ./script/complete_couch2.sh ${KIVIK_TEST_DSN_COUCH22}
    - ./script/complete_couch2.sh ${KIVIK_TEST_DSN_COUCH23}
    - ./script/complete_couch2.sh ${KIVIK_TEST_DSN_COUCH30}
    - ./script/complete_couch2.sh ${KIVIK_TEST_DSN_COUCH31}
    - ./script/complete_couch2.sh ${KIVIK_TEST_DSN_COUCH32}
    - ./script/complete_couch2.sh ${KIVIK_TEST_DSN_COUCH33}
  script:
    - go mod download
    - go test -race -shuffle=on ./...

linter:
  stage: test
  image: golangci/golangci-lint:v1.55.2
  script:
    - go mod download
    - golangci-lint run ./...
    - go mod tidy -compat=1.17 && git diff --exit-code
    - go generate ./...
    - git diff --exit-code

coverage:
  stage: test
  image: golang:1.21
  services: []
  before_script:
    - ""
  script:
    - go mod download
    - ./script/coverage.sh

go-1.17:
  <<: *go_test_template
  image: golang:1.17

go-1.18:
  <<: *go_test_template
  image: golang:1.18

go-1.19:
  <<: *go_test_template
  image: golang:1.19

go-1.20:
  <<: *go_test_template
  image: golang:1.20

go-1.21:
  <<: *go_test_template
  image: golang:1.21

.gopherjs_test: &gopherjs_test_template
  <<: *go_test_template
  image: golang:1.18
  services:
    - name: couchdb:3.3.2
      alias: couch33
  before_script:
    - ./script/complete_couch2.sh ${KIVIK_TEST_DSN_COUCH33}
    - curl -sL https://deb.nodesource.com/setup_${NODE_VER}.x | bash -
    - apt-get update -qq && apt-get install -y nodejs
  script:
    - cp "$NPM_PROFILE" package.json
    - npm install -g npm@7.5.2 && npm update
    - npm install
    - npm install source-map-support
    - mkdir -p /tmp/src
    - ( cd /tmp && go install github.com/gopherjs/gopherjs@${GOPHERJS_TAG} )
    - npm install -S https://github.com/gopherjs/gopherjs#${GOPHERJS_TAG} && node -r syscall
    - gopherjs test `go list ./... | grep -v /cmd/`

gopherjs1.17-pouchdb7:
  <<: *gopherjs_test_template
  image: golang:1.17
  variables:
    NODE_VER: 14
    NPM_PROFILE: pouchdb/pouchdb7-package.json
    KIVIK_TEST_DSN_COUCH33: http://admin:abc123@couch33:5984/
    GOPHERJS_TAG: v1.17.2

gopherjs1.17-pouchdb8:
  <<: *gopherjs_test_template
  image: golang:1.17
  variables:
    NODE_VER: 14
    NPM_PROFILE: pouchdb/pouchdb8-package.json
    KIVIK_TEST_DSN_COUCH33: http://admin:abc123@couch33:5984/
    GOPHERJS_TAG: v1.17.2

gopherjs1.18-pouchdb7:
  <<: *gopherjs_test_template
  variables:
    NODE_VER: 18
    NPM_PROFILE: pouchdb/pouchdb7-package.json
    KIVIK_TEST_DSN_COUCH33: http://admin:abc123@couch33:5984/
    GOPHERJS_TAG: v1.18.0-beta3

gopherjs1.18-pouchdb8:
  <<: *gopherjs_test_template
  variables:
    NODE_VER: 18
    NPM_PROFILE: pouchdb/pouchdb8-package.json
    KIVIK_TEST_DSN_COUCH33: http://admin:abc123@couch33:5984/
    GOPHERJS_TAG: v1.18.0-beta3

.releaser: &release_template
  image:
    name: goreleaser/goreleaser:v1.21.2
    entrypoint: [""]
  variables:
    GIT_DEPTH: 0

release-test:
  <<: *release_template
  stage: test
  script:
    - goreleaser check

release:
  <<: *release_template
  stage: release
  script:
    - goreleaser
  only:
    - /^v\d+\.\d+\.\d+/
