[output]
format = "colored-line-number"

[linters]
enable = [
    "gocyclo",
    "gci",
    "unconvert",
    "goimports",
    "unused",
    "vetshadow",
    "misspell",
    "nakedret",
    "errcheck",
    "revive",
    "ineffassign",
    "deadcode",
    "goconst",
    "vet",
    "unparam",
    "gofumpt",
    "prealloc",
    "gomnd",
    "gocritic",
    "staticcheck",
]

[issues]
exclude-use-default = false

[[issues.exclude-rules]]
source = "defer .*\\.Close\\(\\)$"
linters = ["errcheck"]

[linters-settings.gci]
sections = ["standard", "default", "prefix(github.com/go-kivik/kivik)"]
skip-generated = false
custom-order = true
