dist: trusty
sudo: required
services:
    - docker
addons:
  apt:
    sources:
      - sourceline: 'ppa:masterminds/glide'
    packages:
      - glide
cache:
    directories:
        - node_modules
        - $HOME/gopath/pkg

language: go

os:
    - linux
    - osx

go:
    - 1.7.x
    - 1.8.x
    - 1.9.x
    - 1.10.x
    - 1.11.x
    - master
env:
    global:
        - KIVIK_TEST_DSN_COUCH22="http://admin:abc123@localhost:6004/"
        - HOMEBREW_NO_AUTO_UPDATE=1
    matrix:
        - MODE=standard

matrix:
    fast_finish: true
    allow_failures:
        - go: master
    include:
        - go: 1.11.x
          env: MODE=gopherjs
        - go: 1.11.x
          env: MODE=linter
        - go: 1.11.x
          env: MODE=coverage

install:
    - mkdir -p $GOPATH/src/github.com/flimzy && ln -s $GOPATH/src/github.com/go-kivik/kivik $GOPATH/src/github.com/flimzy/kivik
    - ( cd $GOPATH/src/github.com/flimzy/kivik ; ./travis/install.sh $MODE )

script:
    - ( cd $GOPATH/src/github.com/flimzy/kivik ; ./travis/test.sh $MODE )
