name: create-release

on:
  push:
    branches:
      - master

jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.12"

      - name: Determine tag name
        run: |
            go run ./script/version.go >> $GITHUB_ENV

      - name: Create Release
        if: ${{ env.TAG != '' }}
        uses: ncipollo/release-action@v1.14.0
        with:
          tag: ${{ env.TAG }}
          commit: master
          skipIfReleaseExists: true
          prerelease: ${{ env.PRERELEASE }}
          generateReleaseNotes: true
